<footer>

    <h3>Jase</h3>

    <div class="menu-footer" id="menu-footer">

        <ul>
            <%- include('links') %>
        </ul>


    </div>


    <div class="icons">
        <a href="https://www.instagram.com/play.jase/"><i class="fa fa-instagram" alt="instagram icon"></i></a>
        <a href="mailto: playjasemobile@gmail.com"><i class="fa fa-envelope" alt="mail icon"></i></a>
    </div>

    <div class="terms-links" id="terms-links">
        <ul>
            <li><a href="/privacy-policy"><span lang="en">Privacy Policy</span></a></li>
    
        </ul>
    
    </div>
    <p>made by Jonathan Scholl</p>
</footer>