<!doctype html>
<html>

<%- include('includes/head') %>

<body>

    <%- include('includes/navbar') %>

    <section class="template" id="template">



    <h2>Error 404: The url  "<%= url %>" could not be found </h2>



    </section>



</body>

<%- include('includes/footer') %>

</html>
