<!doctype html>
<html>

<%- include('includes/head') %>

<body >

    <%- include('includes/navbar') %>


    <section class="challenges" id="challenges">
        <div class="iphone-mockup">
            <div class="iphone-screen">
                <h2>test</h2>
                <button class="neon-button">
                    <span class="neon-button-text">
                         Get Challenge</span>
                  </button>
            </div>
        </div>



    </section>

</body>

<%- include('includes/footer') %>

</html>
