<!doctype html>
<html>

<link href="/public/stylesheets/challenges.css" rel="stylesheet" type="text/css">

<%- include('includes/head') %>

<body>

    <%- include('includes/navbar') %>

    <section class="challenges" id="challenges">
        <div class="iphone-mockup">
            <div class="iphone-screen">
                <img src="/public/images/logo.jpeg" alt="Jase logo" class="iphone-screen-logo">
                <p class="challenge-name"></p>
                <p class="challenge-description"></p>
                <button class="neon-button">
                    <span class="neon-button-text">
                         Get New Challenge</span>
                </button>
            </div>
        </div>
    </section>

    <script src="/lib/get-challenges.js"></script>

</body>

<%- include('includes/footer') %>

</html>
