<!doctype html>
<html>


<link href="/public/stylesheets/download.css" rel="stylesheet" type="text/css">

<%- include('includes/head') %>



<body>

    <%- include('includes/navbar') %>


<section class="download" id="download">
    <p>Download now! </p>

    <div class="download-buttons">
      <button class="playstore-button">
        <span>
          Get on Playstore</span>
      </button>
      <button class="appstore-button">
        <span>
          Get on Appstore</span>
      </button>
    </div>





</section>



</body>

<%- include('includes/footer') %>

</html>
