<!doctype html>
<html>


<link href="/public/stylesheets/home.css" rel="stylesheet" type="text/css">

<%- include('includes/head') %>



<body>

    <%- include('includes/navbar') %>


<section class="home" id="home">
    <p>Jase: Mobile App <br><br> Challenge your friends to an epic battle outside!</p>
  <img src="/public/images/mockup.png" alt="example screen from jase the app" class="mockup">
</section>


</body>

<%- include('includes/footer') %>

</html>
