<!doctype html>
<html>

<%- include('includes/head') %>

<body>

    <%- include('includes/navbar') %>


<section class="home" id="home">
    <p>Jase: Mobile App <br><br> Challenge your friends to an epic battle outside!</p>
    <a href=""><img src="/public/images/mockup.png" alt="example screen from jase the app" class="mockup"></a>
</section>

</body>

<%- include('includes/footer') %>

</html>
