<!doctype html>
<html>

<%- include('includes/head') %>

<body>

    <%- include('includes/navbar') %>

    <section class="template" id="template">



    <h2><%= template_message %></h2>



    </section>



</body>

<%- include('includes/footer') %>

</html>
