
.challenges{
    width: 100%;
    margin: auto;
    text-align: center; 
    background-color: #000;
    display: flex;
    justify-content: center;
    padding-top: 80px;


}

.iphone-mockup {
    width: 375px;
    height: 812px;
    background-image: url('/images/empty_mockup.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.iphone-screen {
    width: 255px; 
    height: 535px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space between text and button */
    align-items: center;
    padding: 20px 0; /* Padding for spacing */
    position: absolute;
    top: 70px; /* Adjust based on your mockup */
    left: 50%;
    transform: translateX(-50%);
}


.iphone-screen-logo{

    width: 150px;
    size: 200px;
    
}


  .challenge-name {

    z-index: 2;
    font-size: 24px; /* Adjusted font size */
    color: rgba(241, 124, 109, 0.963); /* Adjusted color */
    text-shadow: 7px rgba(252, 109, 109, 0.85); /* Stronger text shadow */
    text-align: center;

  }

  .challenge-description {

    z-index: 2;
    font-size: 18px; /* Adjusted font size */
    color: rgb(137, 137, 137); /* Adjusted color */
    text-shadow: 0 0 7px rgba(195, 195, 195, 0.85); /* Stronger text shadow */
    text-align: center;

  }

  @media screen and (max-width: 768px) {
    .iphone-mockup {
        width: 300px;  
        height: 650px;
    }

    .iphone-screen {
        width: 204px;  
        height: 428px;
        top: 56px;
    }

    .iphone-screen-logo {
        width: 120px;
    }

    .challenge-name {
        font-size: 20px;
    }

    .challenge-description {
        font-size: 16px;
    }


}



