.about {

    
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 110px;
    background-color: #000;

}



p {
    color: rgb(137, 137, 137); /* Adjusted color */

font-size: 16px;
font-weight: 500;
line-height: 22px;
padding: 20px;
}

.row {
margin-top: 5%;
display: flex;
justify-content: space-between;
}

.about-col {
flex-basis: 31%;
background: #000;
border-radius: 30px;
margin-bottom: 5%;
padding: 20px 12px;
box-sizing: border-box;
border-color: rgba(241, 124, 109, 0.963); 
border-style: solid; 
border-width: 2px; 

}

.about-col:hover {
box-shadow: 0 0 7px rgba(252, 109, 109, 0.85);
transition: 0.2s;
}




@media (max-width: 700px) {
    html,

.row,
.row1 {
    flex-direction: column;
}

}