
.challenges{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 110px;
    background-color: #000;
    display: flex;
    justify-content: center;


}


.iphone-mockup {
    width: 375px;
    height: 812px;
    background-image: url('/public/images/empty_mockup.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.iphone-screen {
    width: 255px; 
    height: 535px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space between text and button */
    align-items: center;
    padding: 20px 0; /* Padding for spacing */
    position: absolute;
    top: 70px; /* Adjust based on your mockup */
    left: 50%;
    transform: translateX(-50%);
}


.iphone-screen-logo{

    width: 150px;
    size: 200px;
    
}


/* Neon Button Styles */
.neon-button {
    position: relative;
    display: inline-block;
    width: 200px; /* Adjusted width */
    height: 7cap; /* Adjusted height */
    border: 2px solid #A8FFC8; /*  Thicker border and color*/
    background-color: rgba(12, 255, 101, 0.0); /* More transparent background */
    box-shadow: 0 0 15px rgba(12, 255, 101, 0.85); /* Stronger shadow */
    overflow: hidden;
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 1;
    border-radius: 5px; /* Add some rounding */
  }

  .neon-button-text {
    position: relative;
    z-index: 2;
    font-size: 18px; /* Adjusted font size */
    color: rgba(137, 253, 179, 0.8); /* Adjusted color */
    text-shadow: 0 0 7px rgba(0, 255, 94, 0.85); /* Stronger text shadow */
    text-align: center;
    line-height: 50px; 

  }
  
  .neon-button:hover {
    box-shadow: 0 0 15px rgba(12, 255, 101, 1);
    .neon-button-text{

        color: rgba(137, 253, 179, 1); /* Adjusted color */
        text-shadow: 0 0 7px rgba(0, 255, 94, 1); /* Stronger text shadow */
    }
  }
  


  .challenge-name {

    z-index: 2;
    font-size: 24px; /* Adjusted font size */
    color: rgba(241, 124, 109, 0.963); /* Adjusted color */
    text-shadow: 7px rgba(252, 109, 109, 0.85); /* Stronger text shadow */
    text-align: center;

  }

  .challenge-description {

    z-index: 2;
    font-size: 18px; /* Adjusted font size */
    color: rgb(137, 137, 137); /* Adjusted color */
    text-shadow: 0 0 7px rgba(195, 195, 195, 0.85); /* Stronger text shadow */
    text-align: center;

  }

