.expo_signup {
    width: 80%;
    margin: auto;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 110px;
    background-color: #000;
}

.icons-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    border-radius: 50vw;
    border-color: var(--red_default);
}



.expo_signup .icons-links a {
    width: 150px;
    height: 100px;
    text-decoration: none;
    position: relative;
    color: var(--red_default);
    box-shadow: var(--red_default);
    border-radius: 50vw;
    overflow: hidden;
    z-index: 1;
}


.expo_signup a .fa {
    font-size: 75px;
    line-height: 100px;
    position: relative;
    z-index: 10;
    transition: color 0.2s;
}

h2 {

    font-size: 25px;
}

.expo_signup a:after {
    content: '';
    width: 100%;
    height: 100%;
    top: -110px;
    left: 0;
    background-color: var(--red_default);
    position: absolute;
    transition: 0.2s;
}

.expo_signup a:hover {
    color: #000;
}

.expo_signup a:hover:after {
    top: 0;
}

.expo_signup-box {

    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 50px;


}

.expo_signup-content {

    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
}



    .field,
    .field-text {
        width: 80%;
        padding: 0.5rem 1rem;
        outline: none;
        font-size: 15px;
        margin-bottom: 22px;
        background-color: #000;
        border: 1px solid var(--red_shadow);
        border-radius: 10px;
        color: var(--red_default);
        text-shadow: var(--red_default);
        box-sizing: border-box;
    }
    
    .field:focus,
    .field-text:focus {
        border-color: var(--red_default);
    }

.field-text {
    resize: none;
    height: 100px;

}

.form-radio-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    color: var(--grey_default);
    font-size: 22px;
    width: 80%;
}

.radio-label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

/* Hide default radio button appearance */
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px; /* Set size */
    height: 20px;
    border: 2px solid var(--grey_default);
    border-radius: 50%; /* Make it circular */
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Default state (not selected) */
input[type="radio"]:not(:checked) {
    border-color: var(--grey_default);
}

/* Selected state */
input[type="radio"]:checked {
    background-color: var(--red_default);
    border-color: var(--red_default);
}



input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px black inset !important;
    -webkit-text-fill-color: var(--red_default) !important;
    transition: background-color 5000s ease-in-out 0s;
}


input:autofill {
    background-color: black !important;
    color: var(--red_default) !important;
}



@media (max-width: 700px) {


    /* Optional: Adjust h2 and h3 sizes if needed */
    h2 {
        font-size: 21px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 15px;
    }

    .expo_signup-box{

        width: 80%;

    }

    .icons-links {
        display: flex;

        flex-direction: column;

    }

    .expo_signup a .fa {
        font-size: 50px;
    }


}
