
.feedback {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 110px;
    background-color: #000;
    display: flex;

}

.feedback-options {


    display: flex;
    flex-direction: row;
    gap: 20px

}
.feedback-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback p {
    color: var(--red_default); /* Adjusted color */
    text-shadow: var(--red_shadow); /* Stronger text shadow */
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    padding: 20px;
    text-align: center;
}


.feedback-post {
    opacity: 1;
    transform: translateY(0);
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}


.feedback-col, .feedback-messages-col {
background: #000;
border-radius: 30px;
margin-bottom: 5%;
padding: 10%;
border-color: var(--grey_default);
border-style: solid; 
border-width: 2px; 

}

.feedback-col:hover {
    box-shadow: 0 0 7px var(--grey_shadow);
    transition: 0.2s;
    }

.feedback-messages {

    display: flex;
    flex-direction: column;
    align-items: center;
}
.feedback-messages-col {

    padding: 1%;
    display: flex;
    flex-direction: row;
    width: 70%;
    gap: 20px

}

.feedback-messages-col p {

    background-color: rgb(16, 16, 16);
    border-radius: 30px;
    padding: 2%;
    display: flex;
    align-items: center;


}
.votes-handling {

    display: flex;
    flex-direction: column;
    background-color: rgb(16, 16, 16);
    border-radius: 30px;
    padding: 2%;
    align-items: center;
}



.field,
.field-text {
    width: 400px;
    padding: 0.5rem 1rem;
    outline: none;
    font-size: 15px;
    margin-bottom: 22px;
    background-color: #000;
    border: 1px solid var(--red_shadow);
    border-radius: 10px;
    color: var(--red_default);
    text-shadow: var(--red_default);
}

.field:focus,
.field-text:focus {
    border-color: var(--red_default);
}



.feedback-neon-button {

    margin-top: 10%;
}











@media (max-width: 700px) {
    html,
    body {
        overflow-x: hidden;
        position: relative;
        height: 100%;
    }

    .feedback {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        text-align: center;
        padding-top: 110px;
    }

    .feedback p {
        width: 100%;
        margin-bottom: 20px;
        padding: 10%;
        font-size: 20px;
    }
    





}
