.home {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 110px;
    background-color: #000;
    display: flex;
    flex-direction: row;
}

.home-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px
}

.home h2 {
    font-size: 30px;
    text-align: center;
    color: rgba(241, 124, 109, 0.963); /* Adjusted color */
    text-shadow: 7px rgba(252, 109, 109, 0.85); /* Stronger text shadow */

}
.home p {
    color: var(--grey_default);
    text-shadow: var(--grey_shadow);
    font-size: 24px;
    font-weight: 500;
    line-height: 22px;
    padding: 20px;
    text-align: center;
}

.app-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.playstore-button {
    width: 170px;
    height: 50px;
}

.appstore-button {
    width: 150px;
    height: 50px;
}

.playstore-button:hover {
    background-color: var(--green_hover);
    border-radius: 5.3px;
}

.appstore-button:hover {

    background-color: var(--green_hover);
    border-radius: 9px;
}


.mockup {
    width: 900px;
    height: 800px;
    margin-left: 20%;
}




@media (max-width: 1100px) {

    .app-buttons {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 700px) {
    html,
    body {
        overflow-x: hidden;
        position: relative;
        height: 100%;
    }

    .home {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80%;
        margin: auto;

    }

    .home-content {
        width: 80%;
        padding: 0
    }

    .home h2 {
        width: 100%;
        font-size: 24px;
    }
    
    .home p {
        width: 100%;
        padding: 20px;
        font-size: 16px;
    }

    .app-buttons {
        flex-direction: column;
        align-items: center;
    }

    .mockup {
        display: none;
    }

}
