.news {
    width: 90%;
    margin: auto;
    padding-top: 110px;
    background-color: #000;
}

.news-container {
    display: flex;
    gap: 2rem;
}

/* Main Article Styles */
.main-article {
    flex: 2;
    background: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 255, 94, 0.15);
}

.main-article .article-image {
    height: 350px;
    padding: 2rem;
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.13);
}

.main-article .article-content {
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-article .news-headline {
    font-size: 32px;
    margin-bottom: 1rem;
}


.main-article .news-content {
    font-size: 20px;
    padding-top: 80px;
}



/* Side Articles Styles */
.side-articles {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.side-article {
    background: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 255, 94, 0.1);
    transition: transform 0.3s ease;
}

.side-article:hover {
    transform: translateY(-5px);
}

.side-article .article-image {
    height: 150px;
    background-size: cover;
    background-position: center;
}

.side-article .article-content {
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-article .news-headline {
    font-size: 18px;
    margin-bottom: 0.5rem;
}

/* Common Styles */
.news-headline {
    color: var(--green_default);
    text-shadow: var(--green_hover);
}

.news-author, .news-content {
    font-size: 16px;
    color: whitesmoke;

    text-align: center;
    max-width: 90%;
    margin: 0 auto;
}

.article-content .neon-button {
    margin-top: 70px;
    width: 300px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-content .neon-button-text {

    font-size: 20px;
}

/* Media Queries */
@media (max-width: 1024px) {
    .news-container {
        flex-direction: column;
    }

    .main-article .article-image {
        height: 300px;
    }
}

@media (max-width: 700px) {
    html,
    body {
        overflow-x: hidden;
        position: relative;
        height: 100%;
    }

    .news {
        width: 95%;
        padding-top: 110px;
    }

    .main-article .article-image {
        height: 200px;
    }

    .main-article .news-headline {
        font-size: 24px;
    }


    .main-article .news-content {
        font-size: 18px;
        padding-top: 40px;
    }


    .side-article .article-image {
        height: 120px;
    }

    .news-content {
        font-size: 14px;
    }

    .article-content {
        padding: 1rem;
    }

    .article-content .neon-button {
    margin-top: 40px;
    width: 200px;
    height: 60px;

}
}