.privacy_policy {

    
    width: 80%;
    margin: auto;
    padding-top: 110px;
    background-color: #000;

}


p {

    text-shadow: none;
}

ul {

    list-style: disc;
    list-style-position:outside;
}

ul li {

    color: var(--grey_default)
}

a {

    color: var(--red_default);
}