<!doctype html>
<html>

<%- include('includes/head') %>

    <link rel="stylesheet" href="/stylesheets/expo_signup.css">
    <link rel="stylesheet" href="/stylesheets/auth/login.css">

    <body>

        <%- include('includes/navbar') %>

            <section class="expo_signup">
                <h1 lang="en">Account Deleted</h1>

                <p style="color: var(--red_default); margin: 2rem 0;">
                    Your account has been successfully deleted.
                </p>

            </section>

            <br>
            <br>
            <br>

    </body>

    <%- include('includes/footer') %>

</html> 