<!doctype html>
<html>


<link href="/public/stylesheets/download.css" rel="stylesheet" type="text/css">

<%- include('includes/head') %>



<body>

    <%- include('includes/navbar') %>


<section class="download" id="download">



  <div class="download-content">


      <h2>Download now! </h2>

      <div class="app-buttons">
          <a href="/" tabIndex="0"><img class="appstore-button" src="/public/images/appstore-button.svg"alt="appstore-button"/></a>
        <a href="/" tabIndex="0"><img class="playstore-button" src="/public/images/playstore-button.png" alt="playstore-button"/></a>

      </div>

    </div>






</section>



</body>

<%- include('includes/footer') %>

</html>
