<!doctype html>
<html>

<%- include('includes/head') %>

<link rel="stylesheet" href="/stylesheets/expo_signup.css">

<body>

    <%- include('includes/navbar') %>

    <section class="expo_signup">


        <h1 lang="en">Signup for Jase at CODE Expo Day</h1>

        <p>Jase is a real-world challenge game that turns your surroundings into a playground.
            Players team up and race against other teams to complete fun, real-life missions and create bonding memories! It's all about moving, exploring, and competing.
            Get ready to team up, take action, and see which team comes out on top!
            
            <br>
            <br>
            Meeting Point: Kitchen
            <br>
            <br>
            Time: 13:30, 23rd of May </p>


            <div class="icons-links">

                <h2>Follow us on instagram</h2>
                <a href="https://www.instagram.com/play.jase/"><i class="fa fa-instagram" alt="instagram icon"></i></a>
            </div>

            <div class="expo_signup-box">
             <form class="expo_signup-content" action="/expo-signup" method="POST">



                <h2>Name <span class="required-text">(required)</span></h2>


                    <input type="text" class="field" lang="en" placeholder="Surname" name="surname" required>

       
                    <input type="text" class="field" lang="en" placeholder="Name" name="name" required>

                    <h2>Email <span class="required-text">(required)</span></h2>

                    <input type="email" class="field" lang="en" placeholder="E-Mail" name="email" required>


                    <h2>Will you play Jase with us during the Expo Day? (required)</h2>


                    <div class="form-radio-group">
                        <label class="radio-label">
                            <input type="radio" name="joining" value="yes" required>
                            <span>Yes</span>
                        </label>
                        <label class="radio-label">
                            <input type="radio" name="joining" value="no" required>
                            <span>No</span>
                        </label>
                    </div>


                    <h2>The game is played with teams of 4-5 people, do you want to form your own team or do you want to get matched? (required)</h2>
                    
                    <div class="form-radio-group">
                        <label class="radio-label">
                            <input type="radio" name="team" value="has_team" required>
                            <span>I have a team</span>
                        </label>
                        <label class="radio-label">
                            <input type="radio" name="team" value="no_team" required>
                            <span>Match me</span>
                        </label>
                    </div>


                    <h2>Who will be in your team? (please ask your teammates to fill this form as well) (required)</h2>

                    <textarea class="field-text" lang="en" placeholder="Message" name="teammates"></textarea>

                    <h2>What kind of phone are you using? (required) </h2>

                    <div class="form-radio-group">
                        <label class="radio-label">
                            <input type="radio" name="operating_system" value="ios" required>
                            <span>iOS</span>
                        </label>
                        <label class="radio-label">
                            <input type="radio" name="operating_system" value="android" required>
                            <span>Android</span>
                        </label>
                    </div>
                    <h2>Are you comfortable with us taking pictures and videos for social media? @play.jase (If you change your mind please let the Jase team know) (required)</h2>

                    <div class="form-radio-group">
                        <label class="radio-label">
                            <input type="radio" name="consent" value="yes" required>
                            <span>Yes</span>
                        </label>
                        <label class="radio-label">
                            <input type="radio" name="consent" value="no" required>
                            <span>No</span>
                        </label>
                    </div>

                    <br>
                    <br>
                    <br>

                    <button class="neon-button" id="expo_signup-submit-button">
                        <span class="neon-button-text">
                             Submit</span>
                      </button>
                </form>



            </div>

            

  
    </section>



    <br>
    <br>
    <br>
    


    
</body>
<%- include('includes/footer') %>

</html>
