/* default style */
* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 2% 6%;
    box-sizing: border-box;
    overflow-y: hidden;
}

body {

    background-color: #000;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul {
    margin: 0;
    padding: 0;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

nav img {
    width: 150px;
}

.nav-links ul li a {
    color: #FFB347;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #FFB347;
    display: block;
    margin: auto;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.nav-links .fa-regular {
    display: none;
}

nav .fa-solid {
    display: none;
}

.home {
    min-height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

.home p {
    color: lightgray;
    font-size: 24px;
    font-weight: 500;
    line-height: 22px;
    padding: 20px;
    text-align: center;
    width: 50%;
}

.mockup {
    max-width: 1100px;
    width: 50%;
    height: auto;
    margin-left: 20%;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #FFABAD;
    background: #FFB347;
    transition: 0.5s;
}

footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: black;
}

footer h3 {
    color: #FFB347;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 600;
}

footer p {
    color: grey;
    font-size: 15px;
}

footer a {
    text-decoration: none;
}

.menu-footer ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.menu-footer ul li a {
    color: #FFB347;
    text-decoration: none;
    font-size: 13px;
}

.menu-footer ul li::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #FFB347;
    display: block;
    margin: auto;
}

.menu-footer ul li:hover::after {
    width: 100%;
}

.icons .fa {
    color: #FFB347;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.about {

    
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top: 110px;
        background-color: #000;
    
}

h1 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: #FFB347
}

h3 {
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5%;
}

p {
    color: lightgray;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    padding: 20px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.about-col {
    flex-basis: 31%;
    background: #000;
    border-radius: 30px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    border-color: #FFB347;
    border-style: solid; 
    border-width: 2px; 
    
}

.about-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}


.contact {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 110px;
    background-color: #000;
}

.icons-links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1em 3em;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 50vw;
    border-color: #FFB347;
}

.contact .icons-links a {
    width: 100px;
    height: 100px;
    text-decoration: none;
    position: relative;
    color: #FFB347;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
    border-radius: 50vw;
    overflow: hidden;
    z-index: 1;
}

.contact a .fa {
    font-size: 35px;
    line-height: 100px;
    position: relative;
    z-index: 10;
    transition: color 0.2s;
}

.contact a:after {
    content: '';
    width: 100%;
    height: 100%;
    top: -110px;
    left: 0;
    background-color: #FFB347;
    position: absolute;
    transition: 0.2s;
}

.contact a:hover {
    color: #fff;
}

.contact a:hover:after {
    top: 0;
}

.contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    border-radius: 10px;
}

.contact-content {
    background: #FFB347;
    border-radius: 60px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

h2 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #000;
}

.field,
.field-text {
    width: 80%;
    padding: 0.5rem 1rem;
    outline: none;
    font-size: 15px;
    margin-bottom: 22px;
    background-color: #000;
    border-color: #FFB347;
    color: white

}

.field-text {
    resize: none;
    height: 200px;

}

.submit {
    width: 30%;
    padding: 1.5%;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
    color: #FFB347;
    background-color: #000;
}

.submit:hover {
    background-color: #FFB347;
    outline-style: solid;
    color: #fff;
    transition: .2s;
}

@media (max-width: 700px) {
    html,
    body {
        overflow-x: hidden;
        position: relative;
        height: 100%;
    }

    .home {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        text-align: center;
    }

    .home p {
        width: 100%;
        margin-bottom: 20px;
        padding: 10%
    }

    .mockup {
        width: 80%;
        max-width: none;
        margin: 0 auto;
        display: block;
        margin-left: 20%;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: fixed; 
        background: #FFB347;
        border-color: #FFB347;
        height: 100vh; 
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 1000; 
        transition: 0.5s;
        overflow-y: auto;
        padding-top: 60px; 
    }

    .nav-links.active {
        right: 0; 
    }

    .nav-links .fa-regular {
        display: block;
        color: black;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        position: absolute; 
        top: 10px;
        right: 10px;
        z-index: 1001; 
    }

    nav .fa-solid {
        display: block;
        color: #FFB347;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 20px;
        color: black;
    }

    .nav-links ul li a {
        color: black;
        text-decoration: none;
        font-size: 13px;
    }

    .row,
    .row1 {
        flex-direction: column;
    }

    select {
        background-color: #FFB347;
        color: #fff;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 5px;
    }
}
