<!doctype html>
<html>

<%- include('../includes/head') %>

<body>

    <%- include('../includes/navbar') %>

    <section class="template" id="template">



    <h2>Login successful, you can now edit pages! <%= username %></h2>



    </section>



</body>

<%- include('../includes/footer') %>

</html>
